/CamadaAplicacao/NewFolder/thiagovespa-http-utils/nbproject/private/
/CamadaAplicacao/NewFolder/thiagovespa-http-utils/dist/
/CamadaAplicacao/NewFolder/thiagovespa-http-utils/build/
/CamadaAplicacao/dist/
/CamadaAplicacao/build/
/thiagovespa-http-utils/nbproject/private/
/CamadaAplicacao/CamadaAplicacao/nbproject/private/
/CamadaAplicacaoa/CamadaAplicacao/nbproject/private/
/CamadaAplicacao/Servidor/nbproject/private/
/CamadaAplicacao_/build/
/CamadaAplicacao_/dist/
/CamadaAplicacao_/nbproject/private/
/CamadaAplicacao/Servidor/build/
/CamadaAplicacao/Cliente/nbproject/private/
/CamadaAplicacao/Cliente/build/