/CamadaAplicacao/NewFolder/thiagovespa-http-utils/nbproject/private/
/CamadaAplicacao/NewFolder/thiagovespa-http-utils/dist/
/CamadaAplicacao/NewFolder/thiagovespa-http-utils/build/
/CamadaAplicacao/dist/
/CamadaAplicacao/build/
/thiagovespa-http-utils/nbproject/private/
/CamadaAplicacao/CamadaAplicacao/nbproject/private/
/CamadaAplicacaoa/CamadaAplicacao/nbproject/private/